

.header{
  padding: 40px;
  text-align: center;
  background:pink;
  color: white;
  font-size: 40px;
	}

.navbar a {
font-size: 18px;
color: azure;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: .3s;
height: 30vh;
}
.navbar a:hover,
.navbar a.active {
color: aqua;
}

  
  /*================My about content=================*/
  /* resume */
  body {
    background: linear-gradient(to right, rgb(128, 128, 128) 0%, rgb(150, 29, 78));
    font-size: 12px;
  }

 .box {
   background-color: grey;
   padding: 1.5rem;
   margin: 2rem 0;
   box-shadow: var(--box-shadow);
   font-size: 1.7rem;
   
 }
  .col-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
   text-align: center;
   
 }
 
 .col h2 {
   font-size: 2.5rem;
   font-weight: 200;
   padding-bottom: 2rem;
 }
 .box span {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}
 .box span i {
   padding-right: 0.5rem;
   font-size: 1.7rem;
 }
 .box h3 {
   font-size: 2rem;
   margin-top: 1rem;
   font-weight: 100;
 }
   .box p {
   font-size: 1.2rem;
   margin-top: 1rem;
   line-height: 1.5;
   text-transform: none;
 }
 .col .box .university {
   text-transform: capitalize;
 }
 /* resume */